.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 60px; /* Ajusta según la altura de tu barra de navegación */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    margin: 0 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  /* Navbar.css */
